* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #102c4c;
  font-family: "Roboto", sans-serif;
  font-size: 13pt;
  line-height: 1.3;
  width: 100%;
  margin: 0.5em;
}

header div h1,
#presentation p,
#semaine h2 {
  color: #ffffff;
}

#menu a,
#presentation p a,
#contact p a,
#contact p:first-of-type {
  color: #66ff33;
}

#presentation h2,
#contact h3,
footer p {
  color: #0099ff;
}

*a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#principale,
main #semaine img,
header nav ul,
header div {
  display: flex;
}

header,
main {
  width: 85%;
  justify-self: center;
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.pulse {
  display: inline-block;
  animation: pulse 2s infinite linear;
}
header div h1 {
  font-size: 30pt;
  font-style: italic;
  text-align: center;
  height: 3rem;
}

header div {
  background-color: #000000;
  border-radius: 10px;
  border-bottom: 2px solid #ffffff;
  justify-content: center;
  align-items: center;
}

header div a img {
  margin: 0 1vh 1vh 1vh;
  height: 2.6rem;
}

header #sosial img {
  width: 3vh;
}

nav #menu {
  display: flex;
  column-gap: 1rem;
}

nav #sosial {
  display: flex;
  column-gap: 0.3rem;
}

header nav {
  display: flex;
  justify-content: space-between;
}

main #presentation {
  font-size: 11pt;
}

main #semaine {
  border: 2px solid #0099ff;
  border-radius: 4px;
  margin-bottom: 0.6em;
}

main #semaine h2 {
  background-color: #ff6699;
  border-radius: 3px;
  text-align: center;
  font-size: 14pt;
  width: 25%;
}

main #semaine img {
  margin: 1rem;
  justify-self: center;
  height: auto;
  width: 30rem;
}

#galerie img {
  height: auto;
  width: 100%;
  transition: transform 0.3s;
}

#galerie {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
  margin-right: 0.4em;
}

#galerie img:first-child {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  margin: 0;
}

main #galerie img:hover {
  transform: scale(1.4);
}

main #contact {
  background: #003971;
  height: 100%;
}

main #contact div {
  margin: 0.8rem;
}

footer p {
  margin: 1rem 0 1rem 0;
  text-align: center;
}
